---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Alex Bradley - Blog" description="Read the latest posts on various topics including technology, travel, and personal experiences.">
  <main class="mx-auto max-w-7xl py-16 px-8">
    <h1 class="text-4xl font-bold mb-8 text-white">Posts</h1>
  </main>
</Layout>
