---
import Layout from '../layouts/Layout.astro';
import AboutMe from '../components/AboutMe.astro'
---

<Layout title="Alex Bradley - Home" description="This is the personal website of Alex Bradley, showcasing projects and experience.">
  <main class="mx-auto max-w-7xl py-16 px-8">
    <AboutMe />
  </main>
</Layout>
