---
import Layout from '../layouts/Layout.astro';
import AboutMe from '../components/AboutMe.astro'
---

<Layout title="Alex Bradley - Home" description="This is the personal website of Alex Bradley, showcasing projects and experience.">
  <section class="py-16">
    <AboutMe />
  </section>
</Layout>
