---
import SocialLink from './SocialLink.astro'

const socialLinks = [
  { href: "https://github.com/theabrad", title: "Github" },
  { href: "https://bsky.app/profile/alexbradley.dev", title: "Bluesky" },
  { href: "https://www.linkedin.com/in/alexrobertbradley/", title: "LinkedIn" },
];
---

<article class="mx-auto prose prose-lg dark:prose-invert">
  <img class="profile-picture" src="https://cdn.bsky.app/img/avatar/plain/did:plc:hek4mwrkeygaffzc7bn4j5vc/bafkreia2dvpcosxbm6f4ixy6sytp7wbpnrn4ybrvpgmvy5vrsyrxpvmgae@jpeg" alt="profile of me"/>
  <h1>Alex Bradley</h1>
  <ul class="list-none flex flex-row gap-x-3">
    {socialLinks.map((link) => (
      <li class="px-1">
        <SocialLink link={link.href} title={link.title} />
      </li>
    ))}
  </ul>
  <p>
    Hi there! I'm Alex Bradley, a Software Engineer with years of experience crafting innovate solutions across a variety of projects. I currently work at <SocialLink link="https://fearless.tech" title="Fearless" /> where I have been working with GSA TTS on <SocialLink link="https://login.gov" title="Login.gov" />.
  <p>
</article>

<style>
  .profile-picture {
    border-radius: 50%;
    height: 15%;
    width: 15%;
  }
  ul {
    padding-left: 0;
  }
</style>
