---
import SocialLink from './SocialLink.astro'
---

<article class="mx-auto prose prose-lg dark:prose-invert">
  <img class="profile-picture" src="https://cdn.bsky.app/img/avatar/plain/did:plc:hek4mwrkeygaffzc7bn4j5vc/bafkreia2dvpcosxbm6f4ixy6sytp7wbpnrn4ybrvpgmvy5vrsyrxpvmgae@jpeg" alt="profile of me"/>
  <h1>Alex Bradley</h1>
  <h2>Software Engineer</h2>
  <ul>
    <li class="mt-2"><SocialLink link="https://github.com/theabrad" title="Github"/></li>
    <li class="mt-2"><SocialLink link="https://bsky.app/profile/alexbradley.dev" title="Bluesky"/></li>
    <li class="mt-2"><SocialLink link="https://www.linkedin.com/in/alexrobertbradley/" title="LinkedIn"/></li>
  </ul>
  <p>
    Hi there! I'm Alex Bradley, a Software Engineer with years of experience crafting innovate solutions across a variety of projects. I currently work at <SocialLink link="https://fearless.tech" title="Fearless" />.
  <p>
</article>

<style>
  .profile-picture {
    border-radius: 50%;
    height: 15%;
    width: 15%;
  }
</style>
