<nav class="mx-auto prose prose-lg dark:prose-invert pt-5">
  <a class="text-indigo-400 hover:text-indigo-600 visited:text-indigo-600 mr-4" href="/">Home</a>
  <a class="text-indigo-400 hover:text-indigo-600 visited:text-indigo-600" href="/blog">Blog</a>
</nav>

<style>
  a {
    text-decoration: underline;
    text-underline-offset: 3px;
  }
  a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
  }
</style>
