---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
const {frontmatter} = Astro.props;
---

<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{frontmatter.title}</title>
    <meta name="description" content={frontmatter.description} />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body class="border-t-5 border-indigo-400">
  <main class="mx-auto prose prose-lg dark:prose-invert text-slate-200">
    <Navigation />
      <section class="py-16">
        <article class="mx-auto prose prose-lg dark:prose-invert text-slate-200">
          <h1 class="text-white">{frontmatter.title}</h1>
          <small>{frontmatter.pubDate.toString().slice(0,10)}</small>
          <slot />
        </article>
      </section>
    <Footer />
  </main>
</body>

<style>
  body {
    background-color: black;
  }
</style>
